body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    background-color: rgb(246, 246, 246);
}

.form{
    display: flex;
    flex-direction: column;
}
.formViewPrincipal__title{
    font-size: 32px;
    margin: 0 0 12px 0;
    font-family:'Product Sans Light Regular';
    font-weight:normal;
    line-height: 135%;
}

.formViewSecondary__title{
    font-family: 'Product Sans Light Regular';
    font-weight:normal;
    font-size: 16px;
    margin: 2px 0 18px 0;
}

.formViewPrincipal__requiredLegend{
    color: #d93025;
    margin-bottom: 0;
}