.formViewSecondary__inputCheckboxInputText{
    display: flex;
}
.formViewSecondary__label {
    z-index: 0;
    position: relative;
}

/* Input */
.formViewSecondary__inputCheckbox{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

.formViewSecondary__inputCheckbox:hover{
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* .formViewSecondary__iCheckbox */
.formViewSecondary__iCheckbox {
    /* width: 100%; */
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

/* Box */
.formViewSecondary__iCheckbox::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 1px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0px 11px 0px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.formViewSecondary__iCheckbox::after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.formViewSecondary__inputCheckbox:checked,
.formViewSecondary__inputCheckbox:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 63, 81, 181));
}

.formViewSecondary__inputCheckbox:checked + .formViewSecondary__iCheckbox::before,
.formViewSecondary__inputCheckbox:indeterminate + .formViewSecondary__iCheckbox::before {
    border-color: rgb(var(--pure-material-primary-rgb, 63, 81, 181));
    background-color: rgb(var(--pure-material-primary-rgb, 63, 81, 181));
}

.formViewSecondary__inputCheckbox:checked + .formViewSecondary__iCheckbox::after,
.formViewSecondary__inputCheckbox:indeterminate + .formViewSecondary__iCheckbox::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.formViewSecondary__inputCheckbox:indeterminate + .formViewSecondary__iCheckbox::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.formViewSecondary__inputCheckbox {
    opacity: 0.04;
}

.formViewSecondary__inputCheckbox:focus {
    opacity: 0.12;
}

/* Active */
.formViewSecondary__inputCheckbox:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.formViewSecondary__inputCheckbox:active + .formViewSecondary__iCheckbox::before {
    border-color: rgb(var(--pure-material-primary-rgb, 63, 81, 181));
}

.formViewSecondary__inputCheckbox:checked:active + .formViewSecondary__iCheckbox::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.formViewSecondary__inputCheckbox:disabled {
    opacity: 0;
}

.formViewSecondary__inputCheckbox:disabled + .formViewSecondary__iCheckbox {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.formViewSecondary__inputCheckbox:disabled + .formViewSecondary__iCheckbox::before {
    border-color: rgb(95, 99, 104);
}

.formViewSecondary__inputCheckbox:checked:disabled + .formViewSecondary__iCheckbox::before,
.formViewSecondary__inputCheckbox:indeterminate:disabled + .formViewSecondary__iCheckbox::before {
    border-color: transparent;
    background-color:rgb(95, 99, 104);
}
